*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* creazione header */

header {
    background-color: rgba(0,132,253,255);
    color: white;
}

.container-60 {
    width: 60%;
    margin: 0 auto;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin: 20px 0;
}

.col-header {
    margin: 20px 0;
}

.main-menu ul {
    list-style-type: none;
    display: flex;
}

.main-menu li {
    padding: 10px;
}

.main-menu a{
    color: white;
    text-decoration: none;
}

.btn-speciale a {
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
}

.hamburger {
    display: none;
}

/* creazione prima sezione del main */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    height: 300px;
    border-radius: 20px;
}

.col-grow {
    width: 32%;
    flex-grow: 2;
    background-color: rgba(181,221,255,255);
    margin-right: 20px;
}

.col-33{
    width: 32%;
    background-color: rgba(181,221,255,255);
}

/* creazione seconda sezione del main */

.bg-violet {
    margin-top: 60px;
    background-color: rgba(151,146,228,255);
}

.container-50 {
    width: 50%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

.col-50n2 {
    width: 40%;
    background-color: white;
    height: 200px;
    margin-top: 80px;
}